body {
    background-color: peachpuff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#students {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));

    article {
        display: flex;
        flex-direction: column;
        gap: 1rem;        
        padding: 1rem;
        background-color: white;
        border: 1px solid gray;
        border-radius: 1rem;
        justify-content: space-between;

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            border: 1px solid orange;            
        }
    }
}

